@charset "utf-8";

.wrapper{
    /background-color: #F6D76E;
    /background-image: url("Picture/13241628_982554335185732_1725418649_o.jpg");
    background-color: #FFFFFF;
    padding-bottom:30%;
    border-radius:10px;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    height: 100%;
}

html {
/ background-color: #E3B30C;
    text-align: inherit;
    display: inline;
    padding-left: 40px;
    padding-right: 40px;
    width: 90%;
    background-image: url("Picture/13241628_982554335185732_1725418649_o.jpg");
    /background-image: url("Picture/13214968_982451575196008_1388267048_o.jpg");
}

.header {
    height: 190px;
    width: 100%;
}
.footer h3 {
    text-align: center;
    width:100%;
    margin-top: 5%;
}

.header img  {
    border-style:solid;
    border-width:6px;
    border-radius: 4px;
    width:99%;
    height: 178px;
    float: left;
    margin-right: 20px;
}
/*
#navigator ul {
    width: 150px;
    /border-style: solid;
    border-width: 1px;
    list-style-type:none;
    /background-color:#E2D8D8;
    padding-left:0px;
    padding-buttom:20px;
    padding-bottom:20px;
    border-radius:5px;
    float:left;

}*/

#navigator li {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-style: solid;
    background-color: #DAB246;
    text-align: center;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 5px;
    border-color: #9EC0AB;
    display: inline;
    float:left;
}

a {
    text-decoration: none;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#main {
    margin-left:20px;
    width: 97%;
    height: 1650px;
    border-style: solid;
}

#aligning h1 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size:40px;
    color: #2e816c;
    border-style: solid;
    width: 500px;
    margin-left: 350px;
    border-radius: 40px;
    background-color: #edfbf6;
}

/* Contact Style */
#contact {
    width:100%;
    height: 100%;
    float: left;
}

#contact img {
    width: 35%;
    height: 18%;
    border-style: solid;
}

#gmap_canvas, #gmap {
    width: 59%;
    height: 50%;

}
#gmap {
    overflow: hidden;
}


#main fieldset {
    width: 28%;
    height: 150px;
    float: left;
    margin-bottom: 5px;
    border-style: double;
    border-width: 15px;
    border-radius: 10%;
    border-color: #2e816c;
    background-color: #edfbf6;
}

legend {
    font-size: 150%;
    font-style: italic;
    color: #ff1c29;
}

/* Buffet Style */
.buffet {
    border-style: double;
    border-color: #2e816c;
    background-color: #edfbf6;
    width: 97%;
    height: 100%;
    border-radius: 5%;
    border-width: 10px;
}

.buffet li {
    list-style-type: none;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
    font-style: italic;
    font-weight: bold;
    color: #2e816c;
    text-align: center;
}

.buffet strong {
    text-indent: 50%;
    color: #ff1c29;
}

#dinner img {
    width: 31.75%;
    height: 31.75%;
    border-style: solid;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 1%;
    border-radius: 6%;
}

h3 {
    color: #2e816c;
}

#tab {
    padding-left: 140px;
}

strong.size, strong.size1, strong.size2 {
    font-size: 30px;
}

/* Menu */

#nav ul {
    width: 150px;
    border-style: solid;
    border-width: 1px;
    list-style-type: none;
    background-color: #E2D8D8;
    padding-left: 0px;
    padding-buttom: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

#nav li {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-style: solid;
    background-color: #DAB246;
    text-align: center;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 5px;
    border-color: #9EC0AB;
}

/* Home */

#home {
    width: 50%;
    height: 30%;
    border-style: double;
    border-width: 15px;
    border-radius: 10%;
    border-color: #DB787F;
    background-color: #F1DADC;
    text-align: center;
    margin-left: 24%;
}
#home h1 {
    color: #DB787F;
}
